<div class="container">
  <div class="row">
    <div class="col-md-5">
      <table class='table movies table-hover'>
        <caption>List of Movies</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Summary</th>
            <th>Release Date</th>
          </tr>
        </thead>
        <tbody *ngFor="let movies of moviesList;">
          <tr *ngFor="let repo of movies;" (click)="movieSelect(this.repo.id)"
           [ngClass]="this.service.movieSelected == this.repo.id ? 'table-dark' : ''">
            <td>{{repo.id}}</td>
            <td>{{repo.title}}</td>
            <td>{{repo.summary}}</td>
            <td>{{repo.releaseDate | date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7">
      <table class='table actors table-hover'>
        <caption>List of Actors</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
          </tr>
        </thead>
        <tbody *ngFor="let actors of actorsList;">
          <tr *ngFor="let rep of actors;" (click)="actorSelect(this.rep.id)" 
          [ngClass]="this.service.actorSelected == this.rep.id ? 'table-dark' : ''">
            <td>{{rep.id}}</td>
            <td>{{rep.name}}</td>
            <td>{{rep.dateOfBirth | date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <form #form="ngForm" (submit)="onSubmit(form)">
        <div class="form-group">
          <label for="exampleInputChar1">Character Name</label>
          <input type="email" class="form-control" name="Character" id="exampleInputChar1" [(ngModel)]="form.Character">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-dark"
          [ngClass]="this.disabledButton()? '' : 'disabled'">Cast Actor</button>
        </div>
      </form>
    </div>
  </div>
</div>
