<div class="container">
  <form #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-group">
      <label for="exampleInputTitle1">Movie Name</label>
      <input type="text" class="form-control" name="Title" id="exampleInputTitle1" [(ngModel)]="form.Title">
    </div>
    <div class="form-group">
      <label for="exampleInputSummary1">Summary</label>
      <input type="text" class="form-control" name="Summary" id="exampleInputSummary1" placeholder="Summary" [(ngModel)]="form.Summary">
    </div>
    <div class="form-group">
      <label for="exampleInputRD1">Release Date</label>
      <input type="date" class="form-control" name="ReleaseDate" id="exampleInputRD1" [(ngModel)]="form.ReleaseDate">
    </div>
    <div class="form-group">
      <label for="exampleInputPoster1">Poster Link</label>
      <input type="text" class="form-control" name="Poster" id="exampleInputPoster1" placeholder="Poster" [(ngModel)]="form.Poster">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" name="InTheaters" id="exampleCheck1" [(ngModel)]="form.InTheaters">
      <label class="form-check-label" for="exampleCheck1">In Theaters</label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Add Movie</button>
    </div>
  </form>
</div>
